@using ECommerceSystem.Models
@model IEnumerable<UserPurchaseModel>
@{
    ViewData["Title"] = "Purchase History";
}

    <div class="container-fluid w-75">
        <h1 style="font-family: Roboto">@ViewData["Title"]</h1>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Purchase Date</th>
                                <th scope="col">Prodcuts Purchased</th>
                                <th scope="col" class="text-center">Payment Details</th>
                                <th scope="col" class="text-center">Shipping Address</th>
                                <th scope="col" class="text-center">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var purchase in Model)
                            {
                                <tr>
                                    <td class="text-xl-left">
                                        <h6><b>@purchase.PurchaseDate</b></h6>
                                    </td>
                                    <td class="w-50">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col" class="text-center">Quantity</th>
                                                    <th scope="col" class="text-center">Price</th>
                                                    <th scope="col" class="text-center">Final Price</th>
                                                </tr>
                                            </thead>
                                            @foreach (var product in purchase.ProductsPurchased)
                                            {
                                                <tr class="text-center">
                                                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                                    <td>
                                                        <a asp-controller="Product" asp-action="ViewProduct" asp-route-id="@product.Id">
                                                            @product.Name
                                                        </a>
                                                    </td>
                                                    <td>
                                                        @product.Quantity
                                                    </td>
                                                    <td>
                                                        @if (product.BasePrice != product.PriceWithDiscount)
                                                        {
                                                            <span style="color: lightslategrey"><del>@product.BasePrice $</del></span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @product.PriceWithDiscount $
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </td>
                                    <td>
                                        <b>Name:</b> @purchase.FirstName<br />
                                        <b>Last Name:</b> @purchase.LastName<br />
                                        <b>Credit Card:</b> @purchase.CreditCardNumber
                                    </td>
                                    <td class="text-center">
                                        @purchase.Address
                                    </td>
                                    <td class="text-center alert-warning">
                                        <h5><strong>@purchase.TotalPrice $</strong></h5>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>