@model PresentationLayer.Models.User.CartModel
@{
    ViewData["Title"] = "User Cart";
    var Total = @Model.UserCart.Cart.Aggregate(0.0, (sum, curr) =>
                         sum += curr.Value.Aggregate(0.0, (sum, prod) => sum += prod.Item1.PriceWithDiscount * prod.Item2));
    var TotalBeforeDiscount = @Model.UserCart.Cart.Aggregate(0.0, (sum, curr) =>
                     sum += curr.Value.Aggregate(0.0, (sum, prod) => sum += prod.Item1.BasePrice * prod.Item2));
}
<div class="container mb-4">
    <h1 style="font-family: Roboto">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-center">Unit Price</th>
                            <th scope="col" class="text-center">Discounted Unit Price</th>
                            <th scope="col" class="text-center">Sub-Total</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var storeProducts in Model.UserCart.Cart)
                        {
                            @foreach (var productQuantity in storeProducts.Value)
                            {
                                <tr>
                                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                    <td>
                                        <a asp-controller="Product" asp-action="ViewProduct" asp-route-id="@productQuantity.Item1.Id">
                                            @productQuantity.Item1.Name
                                        </a>
                                    </td>
                                    @if (productQuantity.Item1.Quantity >= productQuantity.Item2)
                                    {
                                        <td>In stock</td>
                                    }
                                    else
                                    {
                                        <td style="color: red">Out of stock</td>
                                    }
                                    <td>
                                        <input type="number" class="form-control" style="margin-left: auto; margin-right: auto; width: 30%; text-align: center" type="text" value="@productQuantity.Item2" />
                                    </td>
                                    <td class="text-center">
                                        @if (productQuantity.Item1.BasePrice != productQuantity.Item1.PriceWithDiscount)
                                        {
                                            <span style="color: lightslategrey"><del>@productQuantity.Item1.BasePrice $</del></span>
                                        }
                                    </td>
                                    <td class="text-center">@productQuantity.Item1.PriceWithDiscount $</td>
                                    <td class="text-center">@(productQuantity.Item1.PriceWithDiscount * productQuantity.Item1.Quantity) $</td>
                                    <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                </tr>

                            }
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Before discounts</td>
                            <td class="text-right">
                                @TotalBeforeDiscount  $
                            </td>
                        </tr>
                        <tr class="alert alert-warning" style="font-size: 20px">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>@Total  $</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-block btn-light" asp-controller="Home" asp-action="Index">Continue Shopping</a>
                </div>

                <div class="col-sm-12 col-md-6 text-right">
                    <form asp-controller="Cart" asp-action="Checkout" method="post">
                        <button type="submit" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>