@using ECommerceSystem.Utilities;
@using ECommerceSystem.Models;
@model PresentationLayer.Models.AddProductModel
@{
    ViewData["Title"] = "Add Product Group";
    var categories = EnumMethods.GetValues(typeof(Category));
    var storeName = ViewData["StoreName"];
}

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {

        $('#quantity_limit').change(function () {
            if ($('#quantity_limit').prop('checked')) {
                $('#quantity_div').show();
                $('#quantity_policy').val("true");
        } else {
            $('#quantity_div').hide();
            $('#quantity_policy').val("false");
        }
        });
    });
    </script>
}

<div class="container">
    <div class="register-page">
        <a type="button" class="bttn btn-ripple login-btn px-lg-4 m-1" style="width: 20%" href="javascript:void(0);" id="backLink">
            <i class="fas fa-arrow-circle-left"></i>
            Go Back
        </a>
        <h2 style="font-family: Roboto">@ViewData["Title"] - @storeName</h2>
        <div class="form">
            <form asp-controller="Owner" asp-action="AddProduct" class="login-form" method="post">
                @if (!ViewContext.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                }
                <div class="form-group">
                    <label style="text-align: left" for="username">Name</label>
                    <input type="text" class="form-control" placeholder="Product Name" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label style="text-align: left" for="password">Description</label>
                    <textarea type="text" class="form-control" rows="4" asp-for="Description"></textarea>
                </div>
                <div class="form-group">
                    <label style="text-align: left" for="password">Category</label>
                    <select class="form-control" asp-for="Category">
                        @foreach (var category in categories)
                        {
                            <option value="@category" class="dropdown-item">@category</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <div class="form-group w-50 col-md-6">
                        <label class="row-form-label" style="text-align: left" for="password">Base Price</label>
                        <input class="form-control" type="number" placeholder="Base Price" asp-for="Price" />
                    </div>
                    <div class="form-group w-50 col-md-6">
                        <label style="text-align: left" for="password">Quantity</label>
                        <input type="number" class="form-control" placeholder="Quantity" asp-for="Quantity" />
                    </div>
                    <!-- <div class="form-group name1 col-md-6">
            <label class="row-form-label" style="text-align: left" for="password">Discounted Price</label>
            <input type="number" placeholder="Discounted Price" asp-for="PriceWithDiscount" />
        </div>-->
                </div>
                <div class="row">
                    <div class="form-group" style="width:10%">
                        <input value="" type="checkbox" id="quantity_limit" name="quantity_limit" />
                    </div>
                    <div class="">
                        <h5><label class="col-md-12 control-label"> Purchase Quantity Limitation</label></h5>
                    </div>
                </div>
                <div id="quantity_div" style="display: none">
                    <div class="row">
                        <div class="alert-info form-group w-100">
                            <span>Insert -1 to cancel limitation.</span>
                        </div>
                        <div class="form-group w-50 col-md-6">
                            <label class="row-form-label" style="text-align: left" for="password">Minimum Purchase Quantity</label>
                            <input class="form-control" type="number" placeholder="Minimum Purchase Quantity" asp-for="MinQuantity" />
                        </div>
                        <div class="form-group w-50 col-md-6">
                            <label style="text-align: left" for="password">Maximum Purchase Quantity</label>
                            <input type="number" class="form-control" placeholder="Maximum Purchase Quantity" asp-for="MaxQuantity" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="text-align: left" for="username">Image URL</label>
                    <input type="text" class="form-control" placeholder="Image URL(optional)" asp-for="ImageURL" />
                </div>
                <div class="row">
                    <div class="form-group w-50 col-md-12">
                        <label style="text-align: left" for="password">Keywords (Seperate with spaces)</label>
                        <textarea rows="2" type="text" class="form-control" placeholder="Keyowrds (optional)" asp-for="Keywords"></textarea>
                    </div>
                </div>
                <input id="storeName" name="storeName" type="hidden" value="@storeName" />
                <input id="quantity_policy" name="quantity_policy" type="hidden" value="false" />
                <button type="submit" class="w-50">Add Product Group</button>
            </form>
        </div>
    </div>
</div>