@using ECommerceSystem.Models
@model Tuple<StoreModel, List<ProductInventoryModel>>
@{
    ViewData["Title"] = "Store Inventory";
}

    <div class="container-fluid w-75">
        <h1>@ViewData["StoreName"] - Store Inventory</h1>
        <div class="alert alert-info">
            <i class="fa fa-info-circle pull-right"></i>  <strong>Click product to edit details.</strong>
        </div>

        <div class="row">
            <div class="col md-12">
                <h1> <i class="fa fa-shopping-cart"></i>  <small> - Manage store inventory</small></h1>
            </div>
            <div class="col justify-content-end align-self-center text-right">
                <a type="button" style="width: 200px" class="btn btn-lg btn-success" asp-controller="Owner" asp-action="AddProduct" asp-route-store="@ViewData["StoreName"]">
                    <i class="fas fa-plus"></i><i class="fas fa-truck-loading"></i> Add Prodcut
                </a>
            </div>
        </div>

        <hr>

        <table class="table table-hover">
            <thead>
                <tr class="text-left">
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Base Price</th>
                    <th>Discounted Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Item2)
                {
                <tr class="text-left hovertr">
                    <td class="w-25">@product.ID</td>
                    <td>@product.Name</td>

                    <td>@product.Price</td>
          
                    <td class="text-right" style="width: 130px">
                        <div class="edit-icon" style="color: lightslategrey">Edit Product<span style="font-size: 25px"> <i class="fas fa-edit"></i></span></div>
                        <form type="hidden" asp-action="StoreProductListing" asp-controller="Product" method="post">
                            <button type="submit" style="width: 130px" class="btn btn-outline-primary m-1">
                                Remove <i class="fas fa-archive"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                        }
                    </tbody>
                </table>
            </div>
