@model ECommerceSystem.Models.ProductModel
@{
    ViewData["Title"] = "Product";
}

    <div class="container">
        <h1>@ViewData["Name"]</h1>
        <a href="javascript:void(0);" id="backLink">
            <div class="bttn btn-ripple login-btn px-lg-4 m-1" style="width: 12%">
                <i class="fas fa-arrow-circle-left"></i>
                Go Back
            </div>
        </a>
        <div class="product-card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="https://picsum.photos/seed/picsum/400/252" /></div>
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.Name</h3>
                        <p class="product-description">@Model.Description</p>
                        <h4 class="price">
                            current price:
                            @if (Model.BasePrice != Model.PriceWithDiscount)
                            {<span style="color: orangered"><del>@Model.BasePrice $</del></span> <span>@Model.PriceWithDiscount $</span>}
                        else
                        { <span>@Model.BasePrice $</span>}
                        </h4>
                        <div class="action">
                            <form type="hidden" asp-action="AddProductToCart" asp-controller="Cart" asp-route-prodID="@Model.Id" method="post">
                                <button type="submit" style="width: 200px" class="add-to-cart btn btn-default">
                                    add to cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>