@using ECommerceSystem.Models; 
@model ECommerceSystem.Models.ProductInventoryModel
@{
    ViewData["Title"] = "Product";
}

    <div class="container">
        <h1>@ViewData["Name"]</h1>
        <a href="javascript:void(0);" id="backLink">
            <div class="bttn btn-ripple login-btn px-lg-4 m-1" style="width: 12%">
                <i class="fas fa-arrow-circle-left"></i>
                Go Back
            </div>
        </a>
        <div class="product-card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="https://picsum.photos/seed/picsum/400/252" /></div>
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <div class="row flex justify-content-between p-2">
                            <div>
                                <h3 class="product-title">@Model.Name</h3>
                            </div>
                            <div>
                                <h5><b>Category</b>: @Enum.GetName(typeof(Category), Model.Category)</h5>
                            </div>
                        </div>
                            <div class="row flex justify-content-between p-2">
                                <div>
                                    <h5><i class="fas fa-star checked"></i><strong> @Model.Rating Rating</strong></h5>
                                </div>
                                <div>
                                    <h5><i class="far fa-thumbs-up"></i><strong> @Model.RaterCount Raters</strong></h5>
                                    <button type="submit" class="btn btn-info w-100">
                                        <i class="far fa-thumbs-up"></i> Rate
                                    </button>
                                </div>
                            </div>
                            <p class="product-description"><h5 class="text-secondary"><b>Product description:</b></h5><h5> @Model.Description</h5></p>
                            <div class="alert-info p-1">
                                <b>Keywords:</b>
                                @foreach (var keyword in Model.Keywords)
                                {
                                    <span>@(keyword + " | ")</span>
                                }
                            </div>
                            <h4 class="price p-1">
                                current price:
                                <span>@Model.Price $</span>
                            </h4>
                            <div class="action">
                                <form type="hidden" asp-action="AddProductToCart" asp-controller="Cart" asp-route-prodID="@Model.ID" method="post">
                                    <button type="submit" style="width: 200px" class="add-to-cart btn btn-default">
                                        add to cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>