@using ECommerceSystem.Models; 
@model ECommerceSystem.Models.ProductInventoryModel
@{
    ViewData["Title"] = "Product";
}

@section Scripts
{
    <script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body',
            html: true,
            placement: 'bottom',
            sanitize: false,
            content: function () {
                return $("#PopoverContent").html();
            }
        });
    });
    </script>
}

<section style="display: none">
    <div id="PopoverContent" class="hidden">
        <label class="alert-warning">Rating will be rounded in range 0 - 5</label>
        <form type="hidden" asp-action="RateProduct" asp-controller="Product" asp-route-prodID="@Model.ID" method="post">
            <div class="input-group">
                <input id="rating" name="rating" type="number" class="form-control" placeholder="0-5"
                       aria-label="0-5" aria-describedby="button-addon1">
                <div class="input-group-append" id="button-addon1">
                    <button type="submit" class="btn btn-outline-primary" data-toggle="popover" data-placement="bottom"
                            data-html="true" data-title="Search">
                        <i class="far fa-thumbs-up"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

    <div class="container">
        <h1>@ViewData["Name"]</h1>
        <a href="javascript:void(0);" id="backLink">
            <div class="bttn btn-ripple login-btn px-lg-4 m-1" style="width: 12%">
                <i class="fas fa-arrow-circle-left"></i>
                Go Back
            </div>
        </a>
        <div class="product-card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                @if (!String.IsNullOrWhiteSpace(Model.ImageURL))
                                {
                                    <img class="card-img-top" src="@Model.ImageURL" alt="Product image" width="500" height="350"> <!--user image-->
                                }
                                else
                                {
                                    <img class="card-img-top" src="~/images/unavailable.png" alt="Unavailable Product image" width="500" height="350"> <!--default image-->
                                }
                            </div>
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <div class="row flex justify-content-between p-2">
                            <div>
                                <h2 class="product-title">@Model.Name</h2>
                            </div>
                            <div>
                                <h5><b>Category</b>: @Enum.GetName(typeof(Category), Model.Category)</h5>
                            </div>
                        </div>
                        <div class="alert-warning">
                            <h5><b>Store: </b> @Model.StoreName</h5>
                        </div>
                            <div class="row flex justify-content-between p-2">
                                <div>
                                    <h5><i class="fas fa-star checked"></i><strong> @Math.Round(Model.Rating, 2) Rating</strong></h5>
                                </div>
                                <div>
                                    <h5><i class="far fa-thumbs-up"></i><strong> @Model.RaterCount Raters</strong></h5>
                                    <section>
                                        <div id="PopoverContent" class="d-none">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Recipient's username"
                                                       aria-label="Recipient's username with two button addons" aria-describedby="button-addon1">
                                                <div class="input-group-append" id="button-addon1">
                                                    <button class="btn btn-outline-primary" type="button" data-toggle="popover" data-placement="bottom"
                                                            data-html="true" data-title="Search">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <a href="#" class="btn btn-info w-100" data-html='true' data-toggle='popover' data-title="Give your rating">
                                        <i class="far fa-thumbs-up"></i> Rate
                                    </a>
                                </div>
                            </div>
                            <p class="product-description">
                                <h5 class="text-secondary"><b>Product description:</b></h5>
                                @if (String.IsNullOrEmpty(Model.Description))
                                {
                                    <h5 class="text-muted">Not provided</h5>
                                }
                                else
                                {
                                    <h5> @Model.Description</h5>
                                }
                            </p>
                            <div class="alert-info p-1">
                                <b>Keywords:</b>
                                @foreach (var keyword in Model.Keywords)
                                {
                                    <span>@(keyword + " | ")</span>
                                }
                            </div>
                            <h4 class="price p-1">
                                current price:
                                <span>@Model.Price $</span>
                            </h4>
                            <div class="action">
                                <a type="submit" class="add-to-cart btn btn-default" style="width: 200px" asp-controller="Product" asp-action="ConcreteProducts" asp-route-prodID="@Model.ID" asp-route-store="@Model.StoreName" asp-route-listing="@false">
                                    <i class="fas fa-cart-plus"></i> choose
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>